{% extends 'base.html' %}
{% block content %}
<h3> is an online bookstore with a mission to financially support local, independent bookstores.</h3>
<h4>We believe that bookstores are essential to a healthy culture. They’re where authors can connect with readers, where we discover new writers, where children get hooked on the thrill of reading that can last a lifetime. They’re also anchors for our downtowns and communities.</h4>
<h4>As more and more people buy their books online, we wanted to create an easy, convenient way for you to get your books and support bookstores at the same time.</h4>
{%endblock%}