<html>
<head>
</head>
    <body>
        <table border=1 >
            <tr>
                <td colspan=6 align="center">
                    <h2>BOOKS</h2>
                </td>
            </tr>
            <tr>
                <td align="center" >Category</td>
                <td align="center">Name</td>
                <td align="center">Description</td>
                <td align="center">Price</td>
                <td align="center">available</td>
            </tr>
        {% for x in all_books_list %}
            <tr>
                <td>{{ x.category }}</td>
                <td><a href="/bookstore/book/{{x.slug}}">{{ x.name }}</a></td>
                <td>{{ x.description }}</td>
                <td>${{ x.price }}</td>
                <td >{{ x.available }}</td>
            </tr>
        {% endfor %}
        </table>
        <BR>
        <a href="/bookstore/">BACK</a>
    </body>
</html>