<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

<head>Book</head>

    {%for x in slug_book%}
    {{x.title}}
    {%endfor%}
<body>
    
</body>
{% if review %}
<h2>Review:</h2>
<ul>
    {% for data in books.review_set.all %}
    <li>
        {{ data.review }} by {{ data.author }} posted {{ data.created_on|timesince }} ago
    </li>
<br>
    the post is : {{ data.books.title }}
    {% endfor %}
</ul>
{% else %}
<h4>No reviews yet..</h4>
{% endif %}

<form action="" method="post">
    {% csrf_token %}
    {{ form.as_books }}
    <input type="submit" value="Add Review">
</form>
</body>
</html>