<html>
<head>
</head>
    <body>
        <table border=1 >
            <tr>
                <td colspan=6 align="center">
                    <h2>{{ slug_book.name }}</h2>
                </td>
            </tr>
            <tr>
                <td align="center" >Category</td>
                <td align="center">Description</td>
                <td align="center">Price</td>
                <td align="center">available</td>
            </tr>
            <tr>
                <td>{{ slug_book.category }}</td>
                <td>{{ slug_book.description }}</td>
                <td>${{ slug_book.price }}</td>
                <td>{{ slug_book.available }}</td>
            </tr>
        </table>
        <BR>
            <a href="/bookstore/all_books/">BACK</a>
    </body>
</html>