{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
{% block content %}

    <h1> Welcome to ABook store !</h1>
    <ul>
        <li><a href="/bookstore/all_books/">view all the books </a></li>
        <li><a href="/bookstore/available_books/">view all the available books </a></li>
        <li><a href="/bookstore/unavailable_books/">view all the unavailable books </a></li>
        <li><a href="/bookstore/customers_books/">view all the used books </a></li>
    </ul>
    <h2>Request a book </h2>
    <form action="" method="post">
        {% csrf_token%}
        {{form.as_p}}
        <input type="submit" value="request">
    </form>
<br>
    <a href="/bookstore/contact_us/">Contact Us</a>
{%endblock%}